*{
  box-sizing: none;
  margin:0;
  padding:0;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #162938;
  color: #fff;
}

.box-container{
  border: 2px solid grey;
  padding: 1rem;
  width:35%;
  position: relative;
}

.box-container h1{
  position: absolute;
  top: 0;
  left:50%;
  transform: translate(-50%, -60%);
}
